<div class = "col-lg-8">
    <div class="card text-center" style="width: 30rem;">
      <div class="card-body">
            <h4>A propos</h4> 
        
            <p>ZikiFy a été créé par trois étudiants en 3ème année de Licence Informatique<br>
            à l'Université du Mans dans le cadre d'un projet sur le module Architecture logicielles<br>
            pour le développement d'applications Web.
            <br><br>
            ZikiFy permet à l'utilisateur : <br>
            - d'écouter de la musique via YouTube ou Spotify,<br>
            - de trouver les paroles d'une chanson,
            - de trouver des infos sur un artiste,
            - de trouver des dates de concerts.
            <br><br>
            L'application fonctionne grâce à plusieurs API : Spotify, YouTube, Lyrics.ovh, music-story et Ticketmaster.</p>
        </div>    
    </div>
</div>
